.loginPage-header {
  /* background-color: blue; */
  /* padding-top: 1rem; */
  font-size: 3.5rem;
  color: var(--tc-dark);
}

.loginPage-header span {
  font-weight: bold;
  font-style: italic;
  color: var(--tc-gold);
}

.formsWrapper-divider {
  /* padding: 1px; */
  background-color: var(--tc-gold);
}

.registerForm-title,
.loginForm-title {
  /* background-color: red; */
  font-size: 2rem;
  font-weight: bold;
  color: var(--tc-dark);
  margin-bottom: 1rem;
  font-style: italic;
  width: max-content;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  .loginPage-header {
    color: var(--tc-light);
  }

  .loginPage-header span {
    color: var(--tc-gold);
  }

  .registerForm-title,
  .loginForm-title {
    color: var(--tc-gold);
  }
}
