.page-content {
  /* background-color: purple; */
  align-items: center;
  justify-content: space-around;
  gap: 2.5rem;
}

.loginPage-header {
  /* background-color: blue; */
  padding-top: 1rem;
  font-size: 3rem;
}

.formsWrapper {
  /* background-color: cadetblue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7rem;
  /* height: 100%; */
}

.loginForm-wrapper {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  padding: 1rem;
  /* height: 100%; */
}

.registerForm-wrapper {
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  padding: 1rem;
  /* height: 1; */
}

.registerForm-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 1rem;
}

.textFieldWrapper{
    display: flex;
    flex-direction: column;
    /* gap: 0.2rem; */
}

.formsWrapper-divider {
  padding: 1px;
  background-color: gold;
}

.registerForm-title,
.loginForm-title {
  /* background-color: red; */
  font-size: 1.75rem;
  font-weight: bold;
  color: rgb(255, 128, 0);
  margin-bottom: 1rem;
  /* text-align: lefts; */
}

.formsWrapper label {
  /* background-color: firebrick; */
  text-align: left;
  font-size: 1.1rem;
  padding-left: 0.3rem;
}

.formsWrapper input {
  margin: 0.2rem;
  margin-bottom: 1rem;
  border-color: rgb(122, 122, 122);
  border-width: 1px;
  border-radius: 3px;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.2rem;
  /* background-color: aqua; */
}

.formsWrapper button {
    background-color: rgb(33, 17, 0);
    color: aliceblue;
    font-size: 1.1rem;
    font-weight: bold;
    transition: background-color 0.5s, color 0.2s;
}

.formsWrapper button:hover{
    background-color: rgb(78, 78, 78);
    /* color: rgb(63, 63, 63); */
}

@media (prefers-color-scheme: dark) {
  .registerForm-title,
  .loginForm-title {
    color: goldenrod;
  }
  .formsWrapper input {
    border-color: black;
  }
  .formsWrapper button {
    background-color: rgb(255, 128, 0);
  }
  .formsWrapper button:hover{
    background-color: rgb(255, 179, 80);
    color: rgb(72, 74, 76);
    /* color: rgb(63, 63, 63); */
}
}
