.main-banner {
  text-align: center;
  margin-top: 70px;
  margin-bottom: -70px;
  color: var(--tc-white);
  font-size: 1.5rem;
}

.main-banner h1 {
  font-size: 4.5rem;
  margin-bottom: 10px;
  font-family:
    Nunito,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
}
