.learn-more {

    background: #f3f2f2;
    font-size: 'small';
    margin-bottom: '10px';
    margin-left: '10px';
    border:none;
    border-radius: 20px;
    margin-top: -8px;
    transition: 0.3s;
}

.learn-more:hover {
background-color: rgb(211, 211, 211);

}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card{
    overflow: hidden;
    margin-top: 10px;
    /*
    margin: 10px;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #f3f2f2;
    padding: 10px;
    */
}
.navigation-buttons{
    border-radius: 20px;
    width:85%;
    position: absolute;
    display: flex; /* Enable flexbox for the container */
    justify-content: space-between;
}
.Scroll-Btn {
    display: flex; /* Allow horizontal alignment */
    justify-content: center; /* Center content horizontally */
    align-items: center;
    border-radius: 50px;
    color:var(--color-yellow);
width:48px;
border:none;


}
.Scroll-Btn:enabled:hover{
    background-color:var(--color-grey);
    transition: 0.4s;
}
.Next-Btn{
    justify-self: end; /* Align arrow to the right edge */
    align-self: center; 
}
.add-icon{

    color: var(--color-light-blue);
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
    font-style: italic;
}
.add-card{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 300px;
    
}
