.page-content {
    background-color: rgba(213, 232, 237, 0.5);
}

.introduction-container {
    width: 50%;
    margin-top: 100px;
    margin-bottom: 80px;
}

.logo{
    height: auto; /* Maintain asp
    
    ect ratio */
    display: block; 
    width: 170% ;
    scale: 1.25  ;
}
.logo-name{
    justify-content: center;

    /* font-size: 5vw;
    @media screen and (max-width: 600px) {
        font-size: 10vw;

    } */
}
.name{
    letter-spacing: 2px; /* Adjust the value as needed */
    font-weight: bold;

}

.slogan{
    margin-top: 40px;
  

}
.description{
    margin-top: 10px;

    font-style: italic;
}










.navigation-buttons {
    z-index: 1;
    @media (min-width: 1200px) {
        margin-top: 150px;
    }

    @media (min-width: 600px) and (max-width: 1199px) {
        margin-top: 100px;
        gap: 50vw;
        left: 5vw;
        right: 5vw;

    }

    @media (max-width: 599px) and (min-width: 400px) {
        margin-top: 90px;
        gap: 40vw;
        left: 0vw;
        right: 0vw;

    }

    @media (max-width: 399px) {
        margin-top: 120px;
        left: 0vw;
        right: 0vw !important;
    }


    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    left:7vw;
    right: 8vw;
    gap:55vw;


}

.Scroll-Btn {
    background-color: transparent;

    border-radius: 50px;
    color: var(--color-yellow);
    width: 70px;
    height: 70px;
    border: 0px;
    outline: none !important;
}

.arrow-icon {
    font-size: 50px !important;
}

.Scroll-Btn:enabled:hover {
    scale: 1.35;
    transition: 0.4s;
}




.card-content {
    display: flex;
    direction: row;
}

.card-icon {
    padding: 20px;
}

.card-topic {
    padding-bottom: 10px;
    font-size: 25px;
    color: var(--color-light-blue);
}

.right-card-content {
    width: 70%
}

.left-card-content {
    width: 30%;
    height: 30px;
}

.learn-more {
    outline: none !important;
    background: #f3f2f2;
    font-size: 'small';
    border: none;
    border-radius: 20px;
    transition: 0.4s;
    margin-left: 10px;
    /* font-style: italic; */

}

.learn-more:hover {
    background-color: rgb(211, 211, 211);
}

.learnmore-container {
    display: flex;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-right: 100px; */
}

.card {
    overflow: hidden;
    margin-top: 10px;
    height: 200px;
    display: flex;

}


