.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  padding-top: 0.4rem;
  margin-left: 100px;
  margin-right: 70px;
}

.linkGroup {

  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  gap: 1rem;
  /* height: 100%; */
}
/* 
.loginLink.active {
  color: darkblue;
  background-color: gold;
} */

.linkWrapper .routeName {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0.5rem;
  border-radius: 0.4rem;
  border-color: transparent;
  border-style: solid;
  border-width: 0.1rem;
}

.linkWrapper .routeName.active {
  border-color: gold;
  background-color: rgb(255, 198, 93);
}

.linkWrapper .routeName.inactive:hover {
  background-color: rgba(255, 198, 93, 0.251);
}

/* NavBar.css */

.routeName {
  color: black;
  text-decoration: none;
  font-weight: 550;
  font-size: 1.2rem;
  height: 100%;
  transition: background-color 0.3s;
}

.loginLink {
  color: white;
  background-color: rgb(28, 15, 11);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  width: 7rem;
  border-radius: 1.5rem;
  transition: background-color 0.3s;
}

.loginLink:hover {
  background-color: rgba(28, 15, 11, 0.823);
}

.separator {
  width: 100%;

  height: 1px;
  /* Adjust the thickness of the line */
  background-color: var(--color-light-blue);
  /* Adjust the color of the line */
}

.logo {
  /* display: inline-block; */
  width: 4.5rem;
  height: 3rem;

  overflow: hidden;
  /* Hide any overflow content */
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
}

.logo img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Maintain aspect ratio and cover the container */
}

@media (prefers-color-scheme: dark) {
  .routeName.inactive {
    color: aliceblue;
  }

  .loginLink {
    color: black;
    background-color: aliceblue;
  }

  .loginLink:hover {
    background-color: rgba(240, 248, 255, 0.869);
  }
}
