.navbar {
    background-color: transparent;
}

/* NavBar.css */

.routeName {
    color: black;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;

}

.loginLink.active,
.loginLink.inactive {
    color: black;
    margin-top: -8px;
    margin-right: 5px
}

.separator {
    width: 100%;

    height: 1px;
    /* Adjust the thickness of the line */
    background-color: #ccc;
    /* Adjust the color of the line */
}

.logo {

    display: inline-block;
    width: 6%;
    height: 4%;
    margin-top: -6px;
    margin-left: -0px;
    overflow: hidden;
    /* Hide any overflow content */
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
}

.logo img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Maintain aspect ratio and cover the container */

}