.form_field {
  margin-top: 30px;
}

.form_field {
  outline: none;
  background-color: rgba(81, 18, 110, 0.236);
  box-shadow: inset 0 0 5px rgba(183, 0, 255, 0.716);
}

.form_field:focus {
  box-shadow: inset 0 0 5px rgba(183, 0, 255, 1);
}

.submit-btn {
  margin-top: 25px;
  border: none;
  font-weight: 400;
  height: 30px;
  background: linear-gradient(
    to left,
    rgba(36, 5, 130, 0.3),
    rgba(250, 6, 173, 0.32),
    rgba(36, 5, 130, 0.3)
  );
  box-shadow: inset 0 0 10px rgba(250, 6, 173, 0.2);
  outline: none;
  transition: all 0.2s;
}

.submit-btn:hover {
  scale: 1.05;
}

.submit-btn:focus {
  outline: none;
}

.save-btn {
  margin-top: 25px;
  border: none;
  font-weight: 400;
  height: 30px;
  background: linear-gradient(
    to left,
    rgba(250, 6, 173, 0.32),
    rgba(59, 5, 130, 0.15),
    rgba(59, 5, 130, 0.15),
    rgba(250, 6, 173, 0.32)
  );
  box-shadow: inset 0 0 10px rgba(63, 5, 130, 0.5);
  outline: none;
}

.saved-btn {
  background: green;
}

.save-btn:focus {
  outline: none;
}

.save-btn {
  border-radius: 20px;
  transition: 0.2s;
}

.save-btn:hover {
  scale: 1.05;
}
