.initial-screen {
  position: fixed; /* Ensures it stays fixed on the viewport */
  top: 0;
  left: 0;
  width: 100%; /* Stretches to full width */
  background-color: rgb(
    0,
    0,
    0
  ); /* Optional background color with some transparency */
  z-index: 999; /* Bring it to the front if other elements overlap */
  display: flex; /* Allow for centering content (optional) */
  justify-content: center; /* Center content horizontally (optional) */
  align-items: center; /* Center content vertically (optional) */

  text-align: center;
  background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
  color: #555;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 32px;
  height: 100vh;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  transition: transform 4s ease; /* Add transition for smooth movement */
}

.initial-screen.fade-out {
  pointer-events: none;
  transform: translateY(-100%); /* Move the initial screen upwards */
  transition: transform 4s ease; /* Add transition for smooth movement */
  /* Optionally, add 'display: none;' to hide the element after animation completes */
}
.text-to-animate {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.text-to-animate:first-of-type {
  /* Your existing styles */
  animation: showup 7s forwards; /* Run animation once and retain styles after */
}

.text-to-animate:last-of-type {
  /* Your existing styles */
  animation: reveal 7s forwards; /* Run animation once and retain styles after */
}

.text-to-animate:last-of-type span {
  /* Your existing styles */
  animation: slidein 7s forwards; /* Run animation once and retain styles after */
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    width: 355px;
  }
}
