/* LoginPopup.css */
.loginForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* ensure the popup is on top */
  backdrop-filter: blur(4px);
}

.close {
  align-items: center;
}
